<h1 class="home-header">Fargo's First Arcade Brewery</h1>
<h1 class="home-header-mobile">Home</h1>

<div class="carousel-wrap">
  <div id="homePhotoCarousel" class="carousel slide" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
    <li data-target="#homePhotoCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homePhotoCarousel" data-slide-to="1"></li>
    <li data-target="#homePhotoCarousel" data-slide-to="2"></li>
  </ol> -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{firstImg}}" class="d-block w-100" alt="...">
      </div>
      <div *ngFor='let im of imgArray' class="carousel-item">
        <img src="{{im.src}}" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#homePhotoCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#homePhotoCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="hours-wrapper">
  <div class="container" class="hours-table">
    <div class="row hours-table-header">
      <div class="col">
        Hours of Operation:
      </div>
    </div>
    <div *ngFor='let ha of hoursArray' class="row">
      <div class="col-3 hours-table.date">
        {{ha.date}}
      </div>
      <div class="col-9 hours-table-time">
        {{ha.startTime + "-" + ha.endTime}}
      </div>
    </div>
  </div>
</div>