// Color Variables
$outrun-background-dark: #0d0221;
$outrun-neon-blue: #2de2e6;
$outrun-neon-pink: #f706cf;


//Sizing Variables
$tablet-break: 1150px;
$mobile-break: 650px;

//CSS Button Variables
$push-color: hsla(10, 90%, 40%, 1);
$push-size-desktop: 5vw;
$push-size-tablet: 10vw;
$push-size-mobile: 4rem;