@import '../variables';

.content-wrap {
  width: 80%;
  height: 100vh;
  background: #e895e3;
  background-image: url("../assets/img/neon_grid.png");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
-o-background-size: cover;
  background-size: cover;
  overflow: scroll;
  overflow-x: hidden;
}

@media (max-width: $tablet-break) {
  .content-wrap {
    width: 100%;
    height: 75vh;
  }
}

app-side-navbar {
    width: 20%;
}

app-mobile-top-logo, app-bot-navbar {
    display: none;
}


@media (max-width: $tablet-break) {
    app-root {
        flex-direction: column;
    }
    
    app-side-navbar {
        display: none;
    }
    
    app-mobile-top-logo {
        height: 100px;
        text-align: right;
        position: fixed;
        right: 0;
        display: block;
    }

    app-bot-navbar {
      display: block;
      height: 25vh;
    }

}

@media (max-width: 650px) {
    app-mobile-top-logo {
        height: 70px;
    }
}
