<h1>Brews</h1>

<div class="brew-wrapper">
    <div class="brew-listing">
        <div class="brew-items" *ngFor='let brew of brews'>
            <a data-toggle="modal" data-target="#{{brew.volume}}">{{brew.name}}</a>
        </div>
    </div>
</div>

<div *ngFor='let brew of brews' class="modal fade" [attr.id]='brew.volume' tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>