@import '../../variables';

.side-nav {
    background-color: $outrun-background-dark;
    height: 100vh;
    position: fixed;
    width: 20%;
}

.side-li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0; 
}

.side-li > a {
    display: flex;
    align-items: center;
    padding: 0;

    color: $outrun-neon-blue;
}

.side-li > a:hover, .side-li > a:focus {
    color: darken($outrun-neon-blue, 20%);
}


.logo-li {
    width: 100%;
}

.logo {
    margin: 0 auto;
    padding: 4px !important;
    justify-content: center;
}

.logo:hover, .logo:active, .logo:focus {
    opacity: 0.85;
}

.logo > img {
    width: 90%;
}

.nav-arcade-button {
    position: relative;
    display: inline-block;
    width: $push-size-desktop;
    height: $push-size-desktop;
    border: 0;
    margin: 1em;
    outline: none;
    background-color: $push-color;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 200ms;

    box-shadow: 
        inset 0 $push-size-desktop/32 0 lighten($push-color, 5%),
        inset 0 (-$push-size-desktop/32) 0 darken($push-color, 5%),
        inset 0 0 0 $push-size-desktop/32 darken($push-color, 3%),
        inset 0 0 0 $push-size-desktop/12 $push-color,
        inset 0 0 0 $push-size-desktop/10 darken($push-color, 20%),
        inset 0 0 0 $push-size-desktop/9.2 darken($push-color, 50%),
        inset 0 0 0 $push-size-desktop/7.5 transparentize(lighten($push-color, 30%), .3),
        inset 0 0 0 $push-size-desktop/5.5 $push-color,
        inset 0 $push-size-desktop/2.5 $push-size-desktop/7.5 darken($push-color, 5%),
        inset 0 0 $push-size-desktop/10 $push-size-desktop/6 darken($push-color, 10%),
        0 $push-size-desktop/20 0 rgba(0, 0, 0, .3);
    
    &:after {
        content: '';
        position: absolute;
        bottom: $push-size-desktop/20;
        left: $push-size-desktop/10;
        display: block;
        width: $push-size-desktop/1.25;
        height: $push-size-desktop/1.25;
        border: $push-size-desktop/15 solid rgba(0, 0, 0, .3);
        border-width: 0 0 $push-size-desktop/15;
        border-radius: 50%;
        transition-duration: 200ms;
    }
    
    &:active,
    // &:hover,
    &.is-pushed {
        box-shadow: 
        inset 0 $push-size-desktop/32 0 lighten($push-color, 5%),
        inset 0 (-$push-size-desktop/32) 0 darken($push-color, 5%),
        inset 0 0 0 $push-size-desktop/32 darken($push-color, 3%),
        inset 0 0 0 $push-size-desktop/12 $push-color,
        inset 0 0 0 $push-size-desktop/10 darken($push-color, 20%),
        inset 0 0 0 $push-size-desktop/8.5 darken($push-color, 40%),
        inset 0 0 0 $push-size-desktop/7.5 transparentize(lighten($push-color, 30%), .8),
        inset 0 0 0 $push-size-desktop/5.5 darken($push-color, 3%),
        inset 0 $push-size-desktop/2.5 $push-size-desktop/7.5 darken($push-color, 8%),
        inset 0 0 $push-size-desktop/10 $push-size-desktop/6 darken($push-color, 15%),
        0 $push-size-desktop/20 0 rgba(0, 0, 0, .3);
        background-color: darken($push-color, 2%);
            
        &:after {
        bottom: $push-size-desktop/20 + $push-size-desktop/15;
        border-width: 0;
        }
    }
}

.side-link {
    font-family: aldrich;
    font-size: 2.5rem;
    @media (max-width: 1500px) {
        font-size: 2.0rem;
    }
}

.side-link-large-text {
    font-family: aldrich;
    font-size: 2.5rem;

    @media (max-width: 1500px) {
        font-size: 2.0rem;
    }

}

.active {
    color: $outrun-neon-pink !important;
}

.active:hover, .active:focus{
    color: darken($outrun-neon-pink, 10%) !important;
}

