<div class="side-nav">
  <ul class="nav flex-column">
    <li class="nav-item side-li logo-li">
      <a routerLinkActive="active" class="nav-link logo" routerLink=''>
        <img src="../../assets/img/pixeled_logo_large.png" alt="">
      </a>
    </li>
    <li class="nav-item side-li">
      <a routerLinkActive="active" class="nav-link" routerLink='/brews'>
        <button class="nav-arcade-button"></button>
        <span class="side-link">Brews</span>
      </a>
    </li>
    <li class="nav-item side-li">
      <a routerLinkActive="active" class="nav-link" routerLink='/games'>
        <button class="nav-arcade-button"></button>
        <span class="side-link">Games</span>
      </a>
    </li>
    <li class="nav-item side-li">
      <a routerLinkActive="active" class="nav-link" routerLink='/events'>
        <button class="nav-arcade-button"></button>
        <span class="side-link">Events</span>
      </a>
    </li>
    <li class="nav-item side-li">
      <a routerLinkActive="active" class="nav-link" routerLink='/contact'>
        <button class="nav-arcade-button"></button>
        <span class="side-link">Contact</span>
      </a>
    </li>
  </ul>
</div>
