<div class="side-nav">
  <ul class="nav flex-column">
    <li class="nav-item side-li">
      <a routerLinkActive="active" class="nav-link" routerLink='/brews'>
        <button class="nav-arcade-button"></button>
        <span class="side-link">Brews</span>
      </a>
    </li>
    <li class="nav-item side-li">
      <button class="nav-arcade-button"></button>
      <a class="nav-link" href="#">Games</a>
    </li>
    <li class="nav-item side-li">
      <button class="nav-arcade-button"></button>
      <a class="nav-link" href="#">Events</a>
    </li>
    <li class="nav-item side-li">
      <button class="nav-arcade-button"></button>
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</div>