<h1>Games</h1>

<!--<p>At pixeled we have several games on site. due to the nature of older machines, they are sometimes unavailable. Should a game be down, we will note that under the game description.</p>
-->
<div class="games-wrapper">
    <div class="games-listing">
        <div class="games-items" *ngFor='let games of games'>
            <a (click)="loadModal(games)">{{games.name}}</a>
        </div>
    </div>
</div>

<p></p>

<div *ngIf="selectedGame" class="modal" tabindex="-1" role="dialog" aria-labelledby="gamesModalLabel" aria-hidden="true"
    (click)="loadModal()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="gamesModalLabel"><strong>{{selectedGame.name}}</strong></h5>
                <button type="button" (click)="loadModal()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col"><strong>Currently Running</strong></div>
                    </div>
                    <div class="row">
                        <div class="col">{{selectedGame.working?'Yes':'No'}}</div>
                    </div>
                    <div class="row">
                        <div class="col"><strong>Description</strong></div>
                    </div>
                    <div class="row">
                        <div class="col">{{selectedGame.descr}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>