<h1>Games</h1>

<!--<p>At pixeled we have several games on site. due to the nature of older machines, they are sometimes unavailable. Should a game be down, we will note that under the game description.</p>
-->
<div class="games-wrapper">
    <div class="games-listing">
        <div class="games-items" *ngFor='let games of games'>
            <a (click)="loadModal(games)">{{games.name}}</a>
        </div>
    </div>
</div>

<p></p>

                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col"><strong>Currently Running</strong></div>
                    </div>
                    <div class="row">
                        <div class="col">{{selectedGame.working?'Yes':'No'}}</div>
                    </div>
                    <div class="row">
                        <div class="col"><strong>Description</strong></div>
                    </div>
                    <div class="row">
                        <div class="col">{{selectedGame.descr}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>